/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23 nov. 2015, 18:52:41
    Author     : Simon
*/

.navbar-header{
    padding-right: 10px;
}


#employee-sidebar{
    margin-top: 5.5em;
}

#employee-container{
    margin-top: 5.5em;
}

.login_container{
    padding-top: 25px;
    padding-left: 30%;
    padding-right: 30%;
	
}

.col-sm-4{
    text-align: center;
}

.header-client{
    padding-top: 1em;
    height: 10em;
    background-color: grey;
}

.client-container{
    padding-top: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.car-table{   
	border-collapse:collapse;
        font-size: 1.2em;
        width: 85%;
}

.car-table-header{
	text-align:center;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:16px;
}

.car-table-odd-row{
	text-align:center;
	border-top:1px solid #BBBBBB;
        
}

.car-table-even-row{
	text-align:center;
	border-top:1px solid #BBBBBB;
}

.actions{
    padding-top: 10px;
}


